$brandcolor: #F16D7F;


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.categories {
    color: $brandcolor;
    font-family: 'latoregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding-top: 20px;
}

.little_categories {
    color: #6F6E6E;
    font-family: 'latoregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 12px;
}

.right_menu:hover {

    .dropdown_menu {
        display: flex;
        flex-direction: column;
        z-index: 9999;
    }
}



.slogan_container {

    padding-left: 16px;
    border-left: 12px solid $brandcolor;
}

.obertka_img {
    display: flex;
    width: 800px;
    height: 764px;

}


.slogan {
    color: #222;
    font-family: 'latoregular';
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}

.little_slogan {
    color: #222;
    font-family: 'latoregular';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.new_arrivals_block {
    display: flex;
    justify-content: space-between;
    background-color: #F8F3F4;
    ;
    height: 148px;
    flex-shrink: 0;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;


}


.arrivals_decor {
    text-decoration: none;
}

.arrivals_text {

    color: $brandcolor;
    font-family: 'latoregular';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}


.arrivals_nav_text {
    color: #636363;
    font-family: 'latoregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    &::after {
        padding: 0 5px;
        content: "/";
    }

    &_color {
        color: $brandcolor;
        text-decoration: none;
    }

    text-decoration: none;

}

//bot
.bot {

    padding-top: 51px;

}

details>summary {
    list-style: none;
}

.sorts {
    display: flex;
    // justify-content: space-between;
    flex-direction: row;
    z-index: 5;

    padding-bottom: 64px;

    &_categories {
        display: flex;
        flex-direction: row;
        padding-left: 351px;
        gap: 28px;

    }

    &_categories_summary {

        display: flex;
        flex-direction: row;
        color: #6F6E6E;
        font-family: 'latoregular';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .categories_icon {
        padding-left: 10px;
        padding-top: 7px;
    }

    &_drop_sizes {
        display: flex;
        gap: 9px;
        color: #6F6E6E;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    &_container_sorts_drop_sizes {
        padding-top: 9px;
        padding-left: 9px;
        padding-bottom: 11px;
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 79px;
        flex-shrink: 0;
        box-shadow: 0px 8px 16px 0px rgba(0.1, 0, 0, 0.7);
        position: absolute;
        background-color: #FFFFFF;
    }
}

.filter {
    color: #000;
    font-family: 'latoregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;

    &_summary {
        display: flex;
        flex-direction: row;
        gap: 11px;
        z-index: 9999;
        position: absolute;
        left: -30px;


    }
    &_icon{
        padding-top: 2px;
    }

    &_drop_menu {
        width: 360px;
        min-height: 531px;
        background: #FFF;
        position: absolute;
        box-shadow: 0px 8px 16px 0px rgba(0.1, 0, 0, 0.7);
        top: -20px;
        left: -35px;
        display: flex;
        flex-direction: column;
        padding-top: 64px;
        padding-left: 16px;
        padding-bottom: 16px;
        gap: 18px;
        z-index: 10;

    }

    &_category_container {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding-top: 24px;
        padding-bottom: 6px;
    }

    &_change_color_summary {

        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $brandcolor;
        padding-left: 11px;
        color: #6F6E6E;
        font-family: 'latoregular';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 325px;
        height: 37px;
        display: flex;
        align-items: center;
    }


}

.filter:hover {
    color: $brandcolor;

    .filter_icon path {
        fill: $brandcolor;
    }
}


.sorts_categories_summary:hover {
    color: $brandcolor;

    .categories_icon path {
        fill: $brandcolor;
    }
}





.change_color_items {
    color: #6F6E6E;
    font-family: 'latoregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 34px;
}

details[open] {
    .filter_summary {
        color: $brandcolor;
    }

    .filter_icon path {
        fill: $brandcolor;
    }

    .filter_summary {
        // left: 46px;
    }
}


.filter_change_color[open] {
    .filter_change_color_summary {
        color: $brandcolor;
    }
}


.catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1140px;
    gap: 30px;
    margin: auto;
}

.name {
    padding-top: 25px;
    padding-left: 16px;
    color: #000;
    font-family: 'latoregular';
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.about {
    padding: 16px;
    color: #5D5D5D;
    font-family: 'latoregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    word-wrap: break-word;
}

.price {
    padding-left: 16px;
    color: $brandcolor;
    font-family: 'latoregular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 24px;
}

.item {
    width: 360px;
    background-color: #F7F7F7;

}

.item_1 {
    background-image: url(img/botoom_img1.png);
    width: 100%;

}

.item_img {
    background: none;
}

.container_img {
    background-position: center;

}

.a_img {
    width: 100%;
}

.container_background {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 420px;

}

.add_hidden {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    justify-content: center;
    gap: 13px;
    width: 180px;
    height: 44px;
    border: 1px solid #FFF;
    top: 45%;
    margin: auto;
    visibility: hidden;

}

.add_icon {
    margin: auto;
    margin-right: 0;

}

.add_text {
    color: #FFF;
    font-family: 'latoregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto;
    margin-left: 0;

}

.item:hover {
    .container_background {
        background-color: rgba(58, 56, 56, 0.86);
    }

    .add_hidden {
        visibility: visible;

    }
}


.item_bg {
    width: 360px;
    height: 420px;
    background-color: #F7E4E2;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 50%;

}

.png_bg {
    margin-left: 27%;
    margin-top: 9px;

}


.pages_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 96px;

    .pages {
        width: 282.907px;
        height: 43px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 21px;
        border: 1px solid #EBEBEB;
        padding-left: 15px;
        padding-right: 15px;

        &_items {
            color: #C4C4C4;
            font-family: 'latoregular';
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }
}

.pages_items:hover {
    color: $brandcolor;
}

.promo {
    background-color: #222224;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 103px;
    padding-bottom: 104px;

    &_footer {
        text-align: center;
        width: 360px;
    }

    &_title {
        color: #FBFBFB;
        font-family: 'latoregular';
        font-size: 19.96px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 19px;
    }

    &_text {
        color: #FBFBFB;
        text-align: center;
        font-family: 'latoregular';
        font-size: 13.972px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        
        padding-top: 16px;
    }
}







@media(max-width:1140px) {

    .bot {
        padding-top: 24px;
    }


    .last_item {
        display: none;
    }

    .pages_container {
        padding-top: 40px;
        padding-bottom: 63px;
    }

    .catalog {
        max-width: 1138px;
        padding-left: 9px;
        padding-right: 9px;
        gap: 16px;
    }

    .sorts {
        padding-top: 24px;
        justify-content: center;
        padding-right: 16px;
        padding-left: 16px;
    }

    .filter_drop_menu {
        left: -49px;
    }

    .promo {
        flex-direction: column-reverse;
        padding-top: 48px;
        padding-bottom: 64px;
        &_text {
            padding-bottom: 48px;
        }
    }


}

@media(max-width:425px) {
    .new_arrivals_block {
        flex-direction: column;
        justify-content: center;
        gap: 32px;
        padding-top: 7px;
        padding-bottom: 29px;

    }

    .bot {
        .sorts {
            gap: 61px;

            .filter {
                &_summary {
                    left: -15px;

                    .filter_main {
                        display: none;
                    }
                }

                .filter_icon {

                    width: 37px;
                    height: 25px;

                }

            }

            &_categories {
                padding-left: 0px;
                gap: 23px;

                &_summary {
                    font-size: 12px;
                }
            }
        }
    }

    .promo {
        flex-direction: column;
      
        &_footer {
            width: 100%;
            flex-direction: column;
            display: flex;
            align-items: center;
            
            
        }

        &_text {
            font-size: 13px;
            width: 351px;
            
        }
    }


}