.center {
    padding-left: calc(50% - 528px);
    padding-right: calc(50% - 528px);
}


@media(max-width:1040px){
    
    .center{
        padding-left: 17px ;
        padding-right: 17px ;
    }
    .header{
        padding-left: 30px;
        padding-right: 30px;
    }
    
}