$brandcolor: #F16D7F;


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.price_color {
    color: $brandcolor;
}

// arrivals
.arrivals {
    display: flex;
    justify-content: space-between;
    background-color: #F8F3F4;
    ;
    height: 148px;
    flex-shrink: 0;
    align-items: center;

    &__decor {
        text-decoration: none;
    }

    &__text {

        color: $brandcolor;
        font-family: 'latoregular';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
    }
}

// registartion
.registration {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 128px;
    padding-top: 64px;
    padding-bottom: 96px;

    &__form-left {
        display: flex;
        flex-direction: column;
        min-width: 360px;


        &_title {
            color: #222;
            font-family: 'latoregular';
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        &_input {
            height: 45px;
            margin-top: 21px;
            padding-left: 15px;
            color: #B1B1B1;
            font-family: 'latoligth';
            font-size: 13px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            outline: none;
            padding-left: 15px;
        }

        &_gender {
            display: flex;
            gap: 10px;
            text-align: center;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 33px;

            .gender_radio {
                width: 17px;
                height: 17px;
            }

            .gender_input {
                color: #000;
                font-family: 'latoligth';
                font-size: 11px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                padding-right: 10px;
            }
        }

        &_text {
            color: #B1B1B1;
            font-family: 'latoligth';
            font-size: 13px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            margin-top: 15px;
        }

        &_button {
            width: 167px;
            height: 50px;
            background-color: $brandcolor;
            border: 1px;
            margin-top: 39px;
            // display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            color: #FFF;
            font-family: "latoregular";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

        }

        &_button:active {
            background-color: #FFF;
            border: 1px solid $brandcolor;
            color: $brandcolor;

            path {
                fill: $brandcolor;
            }

            transition: 0.15s;
        }

        &_button:hover {
            cursor: pointer;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        }
    }

    &__form-rigth {
        display: flex;
        flex-direction: column;
        gap: 21px;
        color: #000;
        font-family: 'latolight';
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        &_ulist {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &_list::before {
            content: url(/img/icon/Vector.svg);
            padding-right: 23px;
        }
    }
}


@media(max-width:1024px) {

    .registration {
        gap: 22px;
        justify-content: center;

        // margin: auto;
        &__form-rigth {
            font-size: 14px;

        }
    }


}

@media(max-width:425px) {
    .arrivals {
        justify-content: center;
    }

    .registration {
        flex-direction: column;
        gap: 40px;

        &__form-left {
            min-width: 349px;
        }

        &__form-rigth {
            font-size: 16px;
        }

    }

   


}